{% extends 'blog/base.html'%}

{% block title %}
About Page
{% endblock title %}

{% block content %}
<section class="about">
    <h2>About Us</h2>

    <div class="about_content">
        <div class="about_image">
            <img src="../../static/blog/images/background.jpg" alt="about_image">
        </div>
        <div class="about_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Nihil animi facilis eveniet magnam qui veritatis. Nisi neque libero autem dolorem.
                Doloremque quae fugiat id sapiente est ducimus esse aliquid laudantium? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Aspernatur, beatae ad iure facere nulla minus sunt, laborum id,
                repellendus reprehenderit obcaecati cumque error architecto! Quia cumque excepturi nesciunt illo labore!
                Repellendus non animi ipsam labore assumenda quisquam aliquam fugiat obcaecati architecto! Obcaecati
                quas tempore saepe, non, repudiandae ipsa aperiam iste amet quod mollitia rem, nemo quo doloremque
                consectetur? Neque, ad.
                Nobis magnam consequuntur blanditiis magni vitae facilis perferendis voluptatem rem modi possimus
                tempora iusto officia atque voluptate, nulla, obcaecati doloribus sapiente. Maxime voluptatem, ad fugiat
                quod non necessitatibus quis reprehenderit?</p>
        </div>

    </div>
</section>
{% endblock content %}