{% extends "blog/base.html" %}


{% block content %}
<main class="home_page">
    <section class="hero_section">
        <h2>Dramani Diary</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis sequi nostrum impedit possimus
            similique, tempore expedita repellendus mollitia, ratione, incidunt optio odio molestiae? Commodi, nihil
            quas. Eum magnam facere minima!
        </p>
    </section>
    <section class="activity_section">
        <div class="activity_cards">
            <div class="card">

                <img src="../../static/blog/images/background.jpg" alt="card_image">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis unde nihil nam deleniti illum
                    neque enim? Officiis minus nemo perspiciatis perferendis ut illum ullam, harum officia ipsum
                    repellendus? Reprehenderit.</p>
                <button class="card_footer_btn">learn more</button>
            </div>
            <div class="card">

                <img src="../../static/blog/images/background.jpg" alt="card_image" class="card_image">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis unde nihil nam deleniti illum
                    neque enim? Officiis minus nemo perspiciatis perferendis ut illum ullam, harum officia ipsum
                    repellendus? Reprehenderit.</p>
                <button class="card_footer_btn">learn more</button>
            </div>
            <div class="card">

                <img src="../../static/blog/images/background.jpg" alt="card_image">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis unde nihil nam deleniti illum
                    neque enim? Officiis minus nemo perspiciatis perferendis ut illum ullam, harum officia ipsum
                    repellendus? Reprehenderit.</p>
                <button class="card_footer_btn">learn more</button>
            </div>
        </div>
    </section>
    <section class="mission">
        <div class="mission_content">
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Iusto eius laboriosam nulla non veritatis. Libero nulla nesciunt ratione officiis eius
                odit. Voluptatibus esse, quia unde corporis doloribus consequuntur facere. A?</p>
        </div>
        <div class="mission_content">
            <h2>Our Vision</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Quisquam, voluptatibus!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, ad incidunt rem itaque blanditiis
                recusandae dolor corporis nam est molestiae illo atque impedit ea dignissimos qui aliquid, ullam harum
                nostrum.
            </p>
        </div>
        <div class="mission_content">
            <h2>Our Values</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Nihil animi facilis eveniet magnam qui veritatis. Nisi neque libero autem dolorem.
                Doloremque quae fugiat id sapiente est ducimus esse aliquid laudantium?</p>
        </div>

    </section>
    <section class="about">
        <div class="about_content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Quisquam, voluptatibus! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Nihil animi facilis eveniet magnam qui veritatis. Nisi neque libero autem dolorem.
                Doloremque quae fugiat id sapiente est ducimus esse aliquid laudantium? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Aspernatur, beatae ad iure facere nulla minus sunt, laborum id,
                repellendus reprehenderit obcaecati cumque error architecto! Quia cumque excepturi nesciunt illo labore!
                Repellendus non animi ipsam labore assumenda quisquam aliquam fugiat obcaecati architecto! Obcaecati
                quas tempore saepe, non, repudiandae ipsa aperiam iste amet quod mollitia rem, nemo quo doloremque
                consectetur? Neque, ad.
                Nobis magnam consequuntur blanditiis magni vitae facilis perferendis voluptatem rem modi possimus
                tempora iusto officia atque voluptate, nulla, obcaecati doloribus sapiente. Maxime voluptatem, ad fugiat
                quod non necessitatibus quis reprehenderit?</p>

        </div>
    </section>
    <section class="contact_section">
        <div class="contact_form">
            <form action="." method="post">
                {% csrf_token %}
                <h2>Contact Us</h2>
                <p><input type="text"></p>
                <p><input type="email" name="" id=""></p>
                <p><textarea name="" id="" rows="10" cols="15"></textarea></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}