{% extends "blog/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<div class="auth-container">
    <div class="login">
        <h1>Login</h1>
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <p><input type="email" name="email" id="" placeholder="Email"></p>
            <p><input type="password" name="password" id="" placeholder="Password"></p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p id="signup-link">Don't have an account? <a href="{% url 'accounts:register' %}">Sign up here</a>.</p>
    </div>
</div>
{% endblock %}