{% extends 'blog/base.html' %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<section class="profile-section">
    <div class="profile-header">
        <h1>{{ user.username }}'s Profile</h1>
    </div>

    <div class="profile-details">
        {% if user.profile.image %}
        <img class="profile-image" src="{{ user.profile.image.url }}" alt="Profile Image">
        {% else %}
        <img class="profile-image" src="../../media/blog_images/profile.jpg" alt="Default Profile Image">
        {% endif %}
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <div class="profile-actions">
            <button>
                <a href="#" class="btn btn-primary">Edit Profile</a>
            </button>
            <button>
                <a href="#" class="btn btn-secondary">Change Password</a>
            </button>
        </div>
    </div>

</section>
{% endblock content %}