{% extends "blog/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load static %}
<div class="auth-container">
    <section class="signup">
        <h1>Sign Up</h1>
        <form method="post" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            <p>{{form.username}}</p>
            <p>{{form.email}}</p>
            <p>{{form.password}}</p>
            <p>{{form.confirm_password}}</p>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p id="login-link">Already have an account? <a href="{% url 'accounts:login' %}">Login here</a>.</p>
    </section>
</div>
{% endblock %}