{% extends 'blog/base.html' %}

{% block content %}

<section class="blog-hero-section">
    <div>
        <h2>welcome to our blogs page</h2>
        <p>This is the right place to be if you want to learn more about how to improve your relationship with God.
        </p>
    </div>
</section>
<p>
<form class="blog-search-form" action="{% url 'blogs:search' %}" method="get">
    <input type="search" name="query" placeholder="Search" id="">
    <button type="submit">Search</button>
</form>
</p>
{% for post in posts %}
<section class="blog-post body">
    <div class="cards">
        <div class="blog-post-card">
            <div class="card-body">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="post image" class="card-img-top" width="20" height="20">
                {% else %}
                {% endif %}
                <h3 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                {% if request.user.id == post.author.id %}
                <p class="card-footer">
                    <a href="{% url 'blogs:update' post.pk %}">Edit</a> | <a
                        href="{% url 'blogs:delete' post.pk %}">Delete</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% empty %}
<p>No posts found.</p>
{% endfor %}
{% endblock %}